body {
	background-color: #36393F;
}

.button {
	background-color: #C4C4C4;
	border-radius: 25px;
}

.buttonquitter {
	background-color: #C0A19A;
	border-radius: 10px;
	color: white;
}

.buttonvalider {
	background-color: #206400;
	border-radius: 10px;
}

.connect {
	background-color: #40444B;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 1px 1px 1px black;
}

.blanc {
	background-color: white;
}

button {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: none;
	text-align: center;
	color: white;
}

input {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: none;
	text-align: center;
	font-size: 1.5em;
}

a {
	color: white;
}